.mat-mdc-tab .mdc-tab__text-label, .mat-mdc-tab-link .mdc-tab__text-label {
  color: rgba(255, 255, 255, 0);
}

.tab-product{
  color : black;

  width: 100%;
  background-color: aqua;
}

.form-product-container{
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  width: 100%;
  background-color: #f5f5f5;

  /* padding: 20px; */
  /* margin: 20px; */
  margin-top: 20px;
}

mat-form-field{
  width: 50%;
}

button{
  padding: 20px;
  margin: 20px;
}

.parameter-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;

  /* padding: 20px; */
  margin: 20px;
}
.parameter-input{
  background-color: red;

  width: 100%;
  margin: 10px;
}
