.profile-form{
    display: flex;
    flex-direction: column;

}

.profile-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 10px;
}


.profile-header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f5f5f5;

  }

.user_card{
    width: 80%;
}
mat-tab-group{
    width: 80%;
    background-color: black;
}

.item-address{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
