
<div class="profile-container">
  <mat-card class="profile-header">
    <mat-card-header>
      <mat-card-title>
        Hello, {{user.userName}}
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        You can change your profile information here.
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card class="user_card">
    <mat-card-header>
      <mat-card-title>
        Profile
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="profileForm" class="profile-form">
        <mat-form-field>
          <mat-label>{{user.userName}}</mat-label>
          <input matInput formControlName="name">
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{user.userLastName}}</mat-label>
          <input matInput formControlName="lastname">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Bio</mat-label>
          <textarea matInput formControlName="bio"></textarea>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="primary" (click)="saveProfile()">Save</button>
      <button mat-button (click)="cancelProfile()">Cancel</button>
    </mat-card-actions>
  </mat-card>




  <mat-tab-group animationDuration="1500ms" class="tab-group">

    <mat-tab label="Change Address" class="tab-product">
      <mat-card class="address_card">
        <mat-card-header>
          <mat-card-title>
            Change Address
          </mat-card-title>
        </mat-card-header>
          <mat-card-content>
            <form [formGroup]="addressForm" class="profile-form">

              <mat-form-field>
                <mat-label>Country</mat-label>
                <input matInput formControlName="country">
              </mat-form-field>

              <mat-form-field>
                <mat-label>City</mat-label>
                <input matInput formControlName="city">
              </mat-form-field>

              <mat-form-field>
                <mat-label>Postal Code</mat-label>
                <input matInput formControlName="postalCode">
              </mat-form-field>

              <mat-form-field>
                <mat-label>Street</mat-label>
                <input matInput formControlName="street">
              </mat-form-field>

              <mat-form-field>
                <mat-label>Home</mat-label>
                <input matInput formControlName="home">
              </mat-form-field>

              <mat-form-field>
                <mat-label>Apartment</mat-label>
                <input matInput formControlName="apartment">
              </mat-form-field>

              <mat-card-actions>
                <button mat-button color="primary" (click)="saveAddress()">Save</button>
                <button mat-button>Cancel</button>
              </mat-card-actions>
            </form>
          </mat-card-content>
      </mat-card>

      <mat-card class="adresses-list">
        <mat-card-header>
          <mat-card-title>
            Your Addresses
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-list>
            <mat-list-item *ngFor="let address of userAddressesUX">
              <div class="item-address">
                <h4 mat-line>{{address.country}}, {{address.city}}, {{address.postalCode}}, {{address.street}}, {{address.home}}, {{address.apartment}}</h4>
                <button mat-icon-button (click)="deleteAddress(address.id)">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>

            </mat-list-item>
          </mat-list>
        </mat-card-content>


      </mat-card>
    </mat-tab>

    <mat-tab label="Change Password" class="tab-pass">
      <mat-card class="password_card">
        <mat-card-header>
          <mat-card-title>
            Change Password
          </mat-card-title>
        </mat-card-header>
          <mat-card-content>
            <form [formGroup]="passwordForm" class="profile-form">
              <mat-form-field>
                <mat-label>Current Password</mat-label>
                <input matInput formControlName="currentPassword" type="password">

              </mat-form-field>
              <mat-form-field>
                <mat-label>New Password</mat-label>
                <input matInput formControlName="newPassword">

              </mat-form-field>
              <mat-form-field>
                <mat-label>Confirm New Password</mat-label>
                <input matInput formControlName="confirmNewPassword">

              </mat-form-field>

              <mat-card-actions>
                <button mat-button color="primary" (click)="saveNewPassword()">Save</button>
                <button mat-button>Cancel</button>
              </mat-card-actions>
            </form>
          </mat-card-content>
        </mat-card>
    </mat-tab>

  <mat-tab label="My Orders" style="color:red" >
    <mat-card class="order-product-card" *ngFor="let order of orders">
      <mat-divider vertical class="divider-vertical"></mat-divider>
      <mat-card-header>
        <mat-card-title>
          {{order.product.title}}
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="card-content">
          {{order.product.price}}EUR
      </mat-card-content>
      <mat-card-content class="card-content">
        {{order.orderDate}}
      </mat-card-content>
      <mat-card-actions>
        <!-- <button mat-icon-button (click)="removeProductFromCart(product.id)">
          <mat-icon>delete</mat-icon>
        </button> -->
      </mat-card-actions>
    </mat-card>
  </mat-tab>

  </mat-tab-group>

</div>
